body {
    font-family: sans-serif; /* весь текст на странице (в боди) будет без засечек */
}

p, li { /* стилизация для всех p и li на странице */
    font-size: 18px; /* размер текста - 18 пикселей */
    line-height: 1.8;  /* междустрочный интервал (расстояние между строками) 1.8 */
    color: #464646;  /* цвет текста */
}

/* перед названием класса ставится точка (!!!) */
.quote {
    border: 2px solid #35bacb; /* рамка: размер стиль цвет */
    color: #35bacb;
    font-style: italic;  /* курсив */
    font-size: 24px;  /* когда есть 2 или более одинаковых свойств, работать будет то, что написано ниже в коде  */
}
/* Стили рамок:
sold - сплошная линия
dotted - линия из кружочков
dashed - пунктирная линия
*/

